/laskarit/viikko2/Unicafe/target
/wheelof4tune/target/
/wheelof4tune/nbproject/
/wheelof4tune/playerDB.txt
/wheelof4tune/phraseDB.txt
/wheelof4tune/testPlayerDB.txt
/wheelof4tune/testPhraseDB.txt
/wheelof4tune/*.xml

